.bg-table-row{
    background-color: white;
    transition: background-color 0.5s;
}

.bg-table-row-selected{
    background-color: rgb(238, 246, 255) !important;
    transition: background-color 0.5s;
}

.btn-toolbar{
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

th{
    background-color: beige !important;
}

.custom-control-label:before{
  //  background-color:red;
  }
  .custom-checkbox .custom-control-input:checked~.custom-control-label::before{
    background-color:rgb(175, 175, 175);
  }

.dropdown-toggle{
    color:black !important;
    background-color: transparent !important;
    border-color: transparent !important;
    padding-left: 0px !important;
    box-shadow: transparent !important;
    outline: none !important;

    &:focus{
        border-color: transparent !important;
        box-shadow: none !important;
        outline: none !important;
    }
}