.bg-table-row{
    background-color: white;
}

.bg-table-row-selected{
    background-color: rgb(214, 252, 255) !important;
}

td{
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}