.bg-table-row{
    background-color: white;
    transition: background-color 0.5s;
}

.bg-table-row-selected{
    background-color: rgb(243, 243, 243) !important;
    transition: background-color 0.5s;
}

.btn-toolbar{
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

th{
    background-color: rgba(233, 227, 227, 0.5) !important;
    font-weight: 300 !important;
    color: #4c4d4e !important;
}

th,td{
    border-top: 1px solid #d4dbe1 !important;
    border-bottom: 1px solid #d4dbe1 !important;
}


.custom-control-label:before{
  //  background-color:red;
  }
  .custom-checkbox .custom-control-input:checked~.custom-control-label::before{
    background-color:rgb(175, 175, 175);
  }

  
.plain-btn{
    color:black !important;
    background-color: transparent !important;
    border-color: transparent !important;
    padding-left: 0px !important;
    box-shadow: transparent !important;
    outline: none !important;

    &:focus{
        border-color: transparent !important;
        box-shadow: none !important;
        outline: none !important;
    }
}